.wrapper {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}

.wrapperdescription {
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	margin: 0;
}


.label {
	margin-bottom: 10px;
}

.emptyState {
	text-align: center;
}

.emptyStateIcon {
	width: 200px;
}

.buttonClose {
	background: none;
	border: none;
	appearance: none;
	padding: auto;
	cursor: pointer;
	padding-bottom: 25px;
}

.description {
    margin-top: 10px;
    border-radius: 4px;
    padding: 6px 12px;
    min-height: 10px;
	width: 60%;
}

.buttonSave {
    background: #0079BF;
    border: none;
    appearance: none;
    font-size: 15px;
    color: #737373;
    margin-top: 10px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
	width: 130px;
    color: #fff;
}

.buttonSave:hover {
    background: #0067A3;

}