.list {
    width: 25%;
    background: #EBECF0;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    min-height: 100px;
    align-self: flex-start;
}

.listTitle {
    margin-top: 0;
    margin-bottom: 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.newTask {
    overflow: hidden;
}

.task {
    background: #fff;
    margin: 11px 0;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    word-wrap: break-word;
}

.inputName {
    background: #fff;
    box-sizing: border-box;
    padding: 8px 8px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.select {
    font-size: 18px; 
    color: #000; 
    line-height: 21px; 
    border-radius: 5px;
    background-color: #fff;
    word-wrap: break-word;
}

input:focus:not([type=submit]), textarea:focus {
    outline: none;
}

.task:hover {
	text-decoration: underline;
}

.taskLink {
    text-decoration: none;
    color: #000;
}

.addButton {
    background: none;
    border: none;
    appearance: none;
    font-size: 15px;
    color: #737373;
    margin-top: 5px;
    cursor: pointer;
    padding: 8px;
}

.submitButton {
    background: #fff;
    border: none;
    appearance: none;
    font-size: 15px;
    color: #737373;
    margin-top: 5px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.submitButton:hover {
    background: #0079BF;
    color: #fff;
}

.addButton:hover {
    background: #fff;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    .list {
        width: 320px;
    }
}