.footer {
	min-height: 50px;
	background: #0067A3;
	color: #fff;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	align-items: center;
}

.taskinfo span {
	margin-right: 35px;
}

@media screen and (max-width: 700px) {
	.footer {
		display: none;
	}
}